@font-face {
    font-family: IBMPlexMono;
    src: url(Font/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: IBMPlexMono;
    src: url(Font/IBMPlexMono-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: IBMPlexMono;
    src: url(Font/IBMPlexMono-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: IBMPlexMono;
    src: url(Font/IBMPlexMono-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

::selection {
    background: #d89be0;
    color: black;
}

::placeholder {
    opacity: 0.5 !important;
    color: #b2aba1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
li,
button {
    font-family: "IBMPlexMono";
    color: #979797;
    cursor: text;
}

label[for] {
    cursor: pointer;
}

textarea,
input,
button {
    background-color: #141414;
    border-color: #736b5e;
    color: white;
}

input[type="submit"],
input[type="checkbox"],
button,
a {
    cursor: pointer;
}

.checkbox {
    display: flex;
}

.checkbox>input[type="checkbox"] {
    appearance: none;
    background-color: #333333;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 25px;
    margin: 0;
    position: relative;
    width: 40px;
}

.checkbox>input[type="checkbox"],
.checkbox>input[type="checkbox"]::after {
    transition: all 100ms ease-out;
}

.checkbox>input[type="checkbox"]::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 19px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 19px;
}

.checkbox>input[type="checkbox"]:hover {
    background-color: #3D3D3D;
    transition-duration: 0s;
}

.checkbox>input[type="checkbox"]:checked {
    background-color: #d89be0;
}

.checkbox>input[type="checkbox"]:checked::after {
    background-color: #fff;
    left: 17px;
}

.checkbox :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox>input[type="checkbox"]:checked:hover {
    background-color: #c472cf;
}

input[type="submit"],
button {
    border: 0;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #292929;
}

input[type="text"],
input[type="password"] {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 5px;
    outline: 0;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

html,
body {
    font-family: "IBMPlexMono";
    background-color: #141414;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-color: #454a4d #202324;
}

header {
    display: flex;
    z-index: 100;
}

header nav:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 10%;
}

header nav div {
    display: flex;
    align-items: center;
}

header nav .logo img {
    width: 50px;
    user-select: none;
}

header nav:first-child>div>a {
    margin: 0 10px;
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.2s ease 0s;
    color: white;
}

header nav:first-child>div>a:hover {
    opacity: 1;
}

.mobilenav {
    display: none;
    position: fixed;
    right: 20px;
}

.mobilenav>ul {
    padding: 0;
    list-style-type: none;
    width: fit-content;
    float: right;
    display: flex;
    align-items: center;
}

.mobilenav li {
    display: inline-block;
}

.mobilenav li a {
    color: #737373;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    opacity: 1;
}

.mobilenav li a:hover {
    color: #d89be0;
}

#dropdown {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 2;
}

#dropdown:hover {
    display: block;
}

#dropdown a,
#dropdown span {
    display: block;
    padding: 8px 16px;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

#dropdown a:hover {
    color: #d89be0;
    background-color: #161616;
    text-decoration: underline;
}

.navdropdown a button {
    background-color: #333333;
    padding: 8px 40px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s ease 0s;
    color: white;
    border-style: none;
    display: block;
}

.navdropdown a button:hover {
    color: #d89be0;
}

.dropbtn {
    background-color: transparent;
    transition: all 0.2s ease 0s;
    font-size: 16px;
    border: none;
    opacity: 0.7;
}

.dropbtn:hover {
    opacity: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f1f1f;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 120;
    border-radius: 2px;
}

.dropdown-content a {
    padding: 8px 20px;
    text-decoration: none;
    display: block;
    margin: 0;
}

.dropdown-content a:hover {
    color: #d89be0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    width: 100%;
    height: calc(100vh - 94px);
}

.container .info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container .info-container>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.avatar {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    margin-right: 1em;
    align-self: center;
    filter: drop-shadow(7px 5px 4px rgba(24, 24, 24, 0.8));
}

.container #uploadForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container #uploadForm>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.file-label {
    align-items: stretch;
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}

.file-cta {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1em 3em;
    background-color: rgb(30, 32, 33);
    border: 1px;
    border-radius: 0.6em;
    height: 15vh;
    width: 15vw;
    font-size: 1.8em;
    cursor: pointer;
}

.file-cta span {
    font-size: 0.8em;
    overflow: hidden;
    cursor: pointer;
}

.file-icon {
    height: 2em;
    width: 2em;
    user-select: none;
}

.file-label {
    cursor: pointer;
}

.fileupload {
    opacity: 0;
    outline: 0;
    display: none;
}

.publicCheckBox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.publicCheckBox>label {
    margin-right: 10px;
}

.container .progress {
    height: 20px;
    width: 100%;
    display: none;
    border-radius: 4px;
    margin: 10px 0;
    background-color: #292929;
}

.container input[type="submit"] {
    appearance: none;
    background-color: #333333;
    border-radius: 4px;
    font-size: 14px;
    border: 0;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #3D3D3D;
}

.container input[type="submit"]:disabled {
    background-color: #474747;
    cursor: not-allowed;
}

.container .login-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .login-container .login {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .login-container .login form {
    display: flex;
    flex-direction: column;
}

.container .manage-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .manage-container .manage {
    max-width: 600px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 40px;
}

.container .title {
    margin: 0;
    opacity: 0.7;
}

.container .manage-container .manage form {
    width: 100%;
}

.container .manage-container .manage>* {
    margin-top: 20px;
}

.container .manage-container .manage form input[type="text"],
.container .manage-container .manage form input[type="password"] {
    width: 100%;
    display: block;
    margin: auto;
}

.container .manage-container .manage form label {
    opacity: 0.6;
}

.download-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-container .filelist {
    list-style-type: none;
    text-align: initial;
    padding: 0;
    margin: 0;
}

.download-container .filelist li {
    padding: 2px;
}

.download-container .pages {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 5px;
    justify-content: center;
    margin-top: 15px;
}

.download-container .page-item {
    width: 38px;
}

.download-container .page-item a {
    position: relative;
    display: block;
    padding: 0.6rem 0.9rem;
    margin-left: 0;
    line-height: 1.25;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
}

.download-container .page-item a:hover {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
}

.downloadbox {
    background-color: #1f1f1f;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.8em;
    width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all 0.4s ease 0s;
}

.downloaditem {
    font-size: 1.3em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.urlinput {
    width: 210px;
}

.downloadCount {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.notifications {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    z-index: 1;
}

.notifications .item {
    border-radius: 10px;
    border: 1px solid #4ca55b;
    background-color: #4ca55b;
    margin-top: 10px;
    padding: 10px 45px;
    cursor: pointer;
}

.notifications .item:hover {
    background-color: #296132;
}

.notifications .error {
    border: 1px solid #cc0000;
    background-color: #cc0000 !important;
}

.notifications .error:hover {
    background-color: #530d0d !important;
}

.notifications .item h3 {
    text-align: center;
}

.notifications .item h3,
.notifications .item p {
    margin: 0;
    cursor: pointer;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 120;
    background-color: #141414;
}

.loading .loader {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid;
    border-color: #d89be0 #0000;
    animation: l1 1s infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}

@media screen and (max-width: 600px) {
    header {
        position: fixed;
    }

    .mobilenav {
        display: block;
    }

    header>nav:first-child {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .avatar {
        width: 8em;
        height: 8em;
    }
}

@media screen and (max-width: 450px) {
    .container .login-container .login {
        width: calc(100% - 35px);
        margin: 0;
        justify-content: center;
        flex-direction: column;
    }

    .container .login-container .login>div {
        width: 100%;
    }

    .container .login-container .login>div:not(:first-child) {
        margin-top: 20px;
    }

    .downloadbox {
        width: calc(100% - 60px);
    }

    .downloaditem {
        font-size: 1.1em;
    }

    button {
        font-size: 12px;
    }

    .file-cta {
        font-size: 1.5em;
    }

    .file-cta span {
        font-size: 0.7em;
    }
}