@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat.ttf);
    font-weight: 100 900;
}

::selection {
    background: #48c2b2;
    color: black;
}

::placeholder {
    opacity: 0.5 !important;
    color: #b2aba1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
li,
td,
button {
    font-family: "Montserrat";
    color: #ffffff;
    cursor: text;
}

label[for] {
    cursor: pointer;
}

textarea,
input,
button {
    background-color: #292929;
    border-color: #736b5e;
    color: white;
}

input[type="submit"],
input[type="checkbox"],
button,
a {
    cursor: pointer;
}

.check-Box {
    display: flex;
    align-items: center;
}

.check-Box>input[type="checkbox"] {
    appearance: none;
    background-color: #333333;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 25px;
    margin: 0;
    position: relative;
    width: 40px;
}

.check-Box>input[type="checkbox"],
.check-Box>input[type="checkbox"]::after {
    transition: all 100ms ease-out;
}

.check-Box>input[type="checkbox"]::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 19px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 19px;
}

.check-Box>input[type="checkbox"]:hover {
    background-color: #3D3D3D;
    transition-duration: 0s;
}

.check-Box>input[type="checkbox"]:checked {
    background-color: #48c2b2;
}

.check-Box>input[type="checkbox"]:checked::after {
    background-color: #fff;
    left: 17px;
}

.check-Box :focus:not(.focus-visible) {
    outline: 0;
}

.check-Box>input[type="checkbox"]:checked:hover {
    background-color: #4c9289;
}

input[type="submit"],
button {
    border: 0;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #363636;
}

input[type="submit"]:disabled,
button:disabled {
    cursor: not-allowed;
}

input[type="text"],
input[type="password"] {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 5px;
    outline: 0;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

html,
body {
    font-family: "Montserrat";
    background-color: #141414;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-color: #454a4d #202324;
}

header {
    display: flex;
    z-index: 100;
}

header nav:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 10%;
}

header nav div {
    display: flex;
    align-items: center;
}

header nav .avatar {
    border-radius: 50px;
    height: 60px;
}

header nav a img {
    height: 40px;
}

header nav .logo img {
    width: 50px;
    user-select: none;
}

header nav:first-child>div>a {
    margin: 0 15px;
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.2s ease 0s;
    color: white;
    display: flex;
}

header nav:first-child>div>a:hover {
    opacity: 1;
}

.mobilenav {
    display: none;
    position: fixed;
    right: 15px;
    top: 10px;
}

.mobilenav .dropbtn {
    opacity: 1;
    background-color: #333333;
}

.mobilenav .dropbtn:hover {
    opacity: 1;
    background-color: #3b3b3b;
    color: #48c2b2;
}

.dropbtn {
    background-color: transparent;
    transition: all 0.2s ease 0s;
    font-size: 16px;
    padding: 0;
    border: none;
    opacity: 0.7;
}

.dropbtn:hover {
    opacity: 1;
    background-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #1a1a1a;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 120;
    border-radius: 2px;
}

.dropdown-content a {
    padding: 8px 20px;
    text-decoration: none;
    display: block;
    margin: 0;
    transition: all 0.2s ease 0s;
}

.dropdown-content a:hover {
    color: #48c2b2;
}

.dropdown-content a:hover img {
    filter: invert(68%) sepia(12%) saturate(1824%) hue-rotate(123deg) brightness(97%) contrast(84%);
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.container {
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .title {
    margin: 0;
}

.container .settings {
    padding: 30px;
    border: #414141 solid 1px;
    border-radius: 10px;
    background-color: #1a1a1a;
}

.container .settings form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .game>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .game>div button {
    font-size: 16px;
    padding: 6px 12px;
}

.container .game table {
    text-align: center;
}

.container .game table tbody {
    display: block;
    overflow-y: scroll;
    height: 400px;
}

.container .game table tr {
    display: table;
    table-layout: fixed;
}

.container .game table td {
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 4px;
}

.container .game table tbody td:first-child {
    background-color: #292929;
}

.correct {
    background-color: #4ca55b;
}

.correct:hover {
    background-color: #296132;
}

.incorrect {
    background-color: #cc0000;
}

.incorrect:hover {
    background-color: #530d0d;
}

.container .game table td img {
    height: 100%;
}

.container nav a {
    background-color: #292929;
    border: 0;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    text-decoration: none;
}

.container nav a:hover {
    background-color: #363636;
}

.container .game .dropdown-content {
    display: none;
    background-color: #181A1B;
    min-width: 230px;
    max-height: 340px;
    overflow-y: scroll;
    border: 1px solid #5f5f5f;
    right: auto;
    z-index: 100;
    position: absolute;
}

.container .game .dropdown-content div {
    display: flex;
    align-items: center;
    color: white;
    background-color: #1b1c1d;
    text-decoration: none;
    cursor: pointer;
}

.container .game .dropdown-content div:hover {
    background-color: #19191a;
}

.container .game .dropdown-content div img {
    height: 56px;
}

.show {
    display: block !important;
}

.container .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: #414141 solid 1px;
    border-radius: 10px;
}

.container .login .discord-login {
    display: flex;
    align-items: center;
    background-color: #292929;
    font-size: 20px;
    border: 0;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
    text-decoration: none;
}

.container .login .discord-login:hover {
    background-color: #363636;
}

.container .login .discord-login img {
    height: 35px;
    margin-right: 5px;
}

.container .login p {
    color: #979797;
    margin-bottom: 0;
}

.container .leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #1a1a1a;
}

.container .leaderboard table {
    text-align: center;
}

.container .leaderboard table tbody {
    display: block;
    overflow-y: scroll;
    height: 400px;
}

.container .leaderboard table tr {
    display: table;
    table-layout: fixed;
}

.container .leaderboard table td {
    width: 160px;
    height: 50px;
    padding: 0;
    border-radius: 4px;
}

.container .leaderboard table td:first-child {
    width: 40px;
}

.container .leaderboard table td a,
.container .leaderboard table td span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .leaderboard table td img {
    height: 50px;
    margin-right: 10px;
}

.win-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.win-overlay .popup-box {
    max-width: 400px;
    width: 80%;
    background: #1a1a1a;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

.win-overlay .popup-box img {
    width: 100px;
}

.win-overlay .popup-box nav a {
    background-color: #292929;
    border: 0;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    text-decoration: none;
}

.win-overlay .popup-box .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 8px 12px;
}

.notifications {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    z-index: 1;
}

.notifications .item {
    border-radius: 10px;
    border: 1px solid #4ca55b;
    background-color: #4ca55b;
    margin-top: 10px;
    padding: 10px 45px;
    cursor: pointer;
}

.notifications .item:hover {
    background-color: #296132;
}

.notifications .error {
    border: 1px solid #cc0000;
    background-color: #cc0000 !important;
}

.notifications .error:hover {
    background-color: #530d0d !important;
}

.notifications .item h3 {
    text-align: center;
}

.notifications .item h3,
.notifications .item p {
    margin: 0;
    cursor: pointer;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 120;
    background-color: #141414;
}

.loading .loader {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid;
    border-color: #48c2b2 #0000;
    animation: l1 1s infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}

@media screen and (max-width: 600px) {
    header {
        position: fixed;
    }

    .mobilenav {
        display: block;
    }

    header>nav:first-child {
        display: none;
    }
}