@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat.ttf);
    font-weight: 100 900;
}

::selection {
    background: #48c2b2;
    color: black;
}

::placeholder {
    opacity: 0.5 !important;
    color: #b2aba1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
li,
button {
    font-family: "Montserrat";
    color: #ffffff;
    cursor: text;
}

label[for] {
    cursor: pointer;
}

textarea,
input,
button {
    background-color: #292929;
    border-color: #736b5e;
    color: white;
}

input[type="submit"],
input[type="checkbox"],
button,
a {
    cursor: pointer;
}

.checkbox {
    display: flex;
}

.checkbox>input[type="checkbox"] {
    appearance: none;
    background-color: #333333;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 25px;
    margin: 0;
    position: relative;
    width: 40px;
}

.checkbox>input[type="checkbox"],
.checkbox>input[type="checkbox"]::after {
    transition: all 100ms ease-out;
}

.checkbox>input[type="checkbox"]::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 19px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 19px;
}

.checkbox>input[type="checkbox"]:hover {
    background-color: #3D3D3D;
    transition-duration: 0s;
}

.checkbox>input[type="checkbox"]:checked {
    background-color: #48c2b2;
}

.checkbox>input[type="checkbox"]:checked::after {
    background-color: #fff;
    left: 17px;
}

.checkbox :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox>input[type="checkbox"]:checked:hover {
    background-color: #4c9289;
}

input[type="submit"],
button {
    border: 0;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #363636;
}

input[type="text"],
input[type="password"] {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 5px;
    outline: 0;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.checkBox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkBox>label {
    margin-right: 10px;
}

html,
body {
    font-family: "Montserrat";
    background-color: #141414;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-color: #454a4d #202324;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .title {
    margin: 0;
}

.container .settings {
    padding: 30px;
    border: #414141 solid 1px;
    border-radius: 10px;
}

.container .settings form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container nav a {
    background-color: #292929;
    border: 0;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    text-decoration: none;
}

.container nav a:hover {
    background-color: #363636;
}

.container .game .dropdown-content {
    display: none;
    background-color: #181A1B;
    min-width: 230px;
    max-height: 340px;
    overflow-y: scroll;
    border: 1px solid #818181;
    z-index: 100;
    position: absolute;
}

.container .game .dropdown-content div {
    display: flex;
    align-items: center;
    color: white;
    background-color: #1b1c1d;
    text-decoration: none;
    cursor: pointer;
}

.container .game .dropdown-content div:hover {
    background-color: #19191a;
}

.container .game .dropdown-content div img {
    height: 56px;
}

.show {
    display: block !important;
}

.notifications {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    z-index: 1;
}

.notifications .item {
    border-radius: 10px;
    border: 1px solid #4ca55b;
    background-color: #4ca55b;
    margin-top: 10px;
    padding: 10px 45px;
    cursor: pointer;
}

.notifications .item:hover {
    background-color: #296132;
}

.notifications .error {
    border: 1px solid #cc0000;
    background-color: #cc0000 !important;
}

.notifications .error:hover {
    background-color: #530d0d !important;
}

.notifications .item h3 {
    text-align: center;
}

.notifications .item h3,
.notifications .item p {
    margin: 0;
    cursor: pointer;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 120;
    background-color: #141414;
}

.loading .loader {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid;
    border-color: #48c2b2 #0000;
    animation: l1 1s infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}